/* .container{
    width: 100%;
    background-image: url("../../images/Patient-Resources.jpg"),
      linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3));
      background-position: center center;
       opacity: 0.7;
} */